.ECarousel .ECarousel-item {
  float: left; }
.ECarousel .ECarousel-wrap {
  position: relative; }
.ECarousel .ECarousel-body {
  position: absolute;
  left: 0;
  top: 0;
  transition: left 0.5s ease;
  -webkit-transition: left 0.5s ease;
  -moz-transition: left 0.5s ease;
  -o-transition: left 0.5s ease; }
.ECarousel .ECarousel-ctrl {
  position: absolute;
  top: 50%;
  z-index: 1; }
