extends ../assets/layout

block style
  link(type="text/css", rel="stylesheet", href="./#{name}.css")

block content

  fieldset
    legend Normal
    .demo
      a.EModal-0(href="#none") 弹出模态层
      #pop-up(style="height:1000px") 哈哈哈哈哈哈哈哈哈哈哈哈哈哈

block localScript
  script.
    $(function() {
      $('.EModal-0').EModal({
        type: 'confirm',
        title: '哈哈',
        btnOkText: 'ok',
        btnCancelText: 'cancel',
        content: '这<br>里<br>面<br>是<br>内<br>容'
      });
    });

