extends ../assets/layout

block style
  link(type="text/css", rel="stylesheet", href="./#{name}.css")

block content

  fieldset
    legend Normal
    .demo
      a.EModal-0(href="#none") 弹出模态层
      #pop-up(style="height:1000px")  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, beatae eos ab, esse cupiditate doloribus cumque tenetur atque aspernatur, maxime ipsam nemo ipsum quis placeat. Facere ipsam debitis quidem nostrum!

block localScript
  script.
    $(function() {
      $('.EModal-0').EModal({
        type: 'alert',
        title: 'Modal',
        template: {
          alert: '\
                <div class="EModal-btns">\
                    <button data-modal="ok" accesskey="enter" class="EModal-btn EModal-ok">{btnOkText}</button>\
                </div>'
        },
        content: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque eveniet eius repudiandae aut, dolorum amet beatae distinctio quam, nemo minus, velit quod assumenda. Magnam distinctio fugiat in expedita officiis vitae.'
      });
    });

